.skeleTeamName {
    span {
        width: 33%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.skelePlayerCard {
    span {
        width: 100%;
        height: 100px;
    }
}

.skeleMapCard {
    span {
        margin: 0 auto;
        width: 80%;
        height: 70px;
    }
}
